<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <form action="/login" method="post">
        <h3 class="font-bold">로그인</h3>
        <input type="text" name="userid">
        <input type="password" name="password">
        <button type="submit">로그인</button>
    </form>
</div>

    <!-- get은 querystring으로 넘어간다.
        method : get(가져오기), post(보내기) , put(업데이트) , delete(삭제)
        실제 사용은 get, post만 사용할 수 있다. 
        put과 delete는 다른 라이브러리를 이용해 사용할 수 있다.

        yarn add method-override 설치 시 put과 delete를 설정 가능 
    -->
</body>
</html>