<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="max-w-7xl mx-auto">
    <ul class="flex justify-between w-full">
        <li><%= data.title %></li>
        <li><%= data.content %></li>
        <!-- <li><input value="<%= data.title %>" type="text" name="title" ></li>
        <li><input value="<%= data.content %>" type="text" name="content"></li> -->
        <a href="/review">목록</a>
    </ul>
</div>
</body>
</html>