<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    
    <form action="/add" method="post">
        <div class="flex flex-col items-center justify-center h-[500px]">
        <h3 class="font-bold">글쓰기</h3>
        <input type="text" name="title" class="border-2 w-[300px] mb-2" placeholder="제목을 입력해주세요.">
        <input type="text" name="content" class="border-2 w-[300px] h-[400px]" placeholder="내용을 입력해주세요.">
        <button type="submit">완료</button>
    </div>
    </form>
</div>

    <!-- get은 querystring으로 넘어간다.
        method : get(가져오기), post(보내기) , put(업데이트) , delete(삭제)
        실제 사용은 get, post만 사용할 수 있다. 
        put과 delete는 다른 라이브러리를 이용해 사용할 수 있다.

        yarn add method-override 설치 시 put과 delete를 설정 가능 
    -->
</body>
</html>